@import url("https://fonts.cdnfonts.com/css/star-wars");
html,
body {
  width: calc(100dvw - 6px);
  height: calc(100dvh - 6px);
  letter-spacing: 0.15em;
  color: #ffffff;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: url("https://img.freepik.com/premium-vector/abstract-starburst-dynamic-lines-rays_272897-340.jpg")
    no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.mainPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}
