body {
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/premium-vector/abstract-starburst-dynamic-lines-rays_272897-340.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Star Jedi', sans-serif;
    font-family: 'Star Jedi Hollow', sans-serif;
}
  
  .app {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  /* You can replace the background URL with any Star Wars-themed image you prefer. */
  