@import url("https://fonts.cdnfonts.com/css/star-wars");
html,
body {
  width: calc(100dvw - 6px);
  height: calc(100dvh - 6px);
  letter-spacing: 0.15em;
  color: #ffffff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: url("https://img.freepik.com/premium-vector/abstract-starburst-dynamic-lines-rays_272897-340.jpg")
    no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  font-size: 16px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPage {
  padding: 20px;
  display: flex;
  height: 75dvh;
  width: 100dvw;
}

@media screen and (max-width: 380px) {
  html,
  body {
    font-size: 12px;
  }
}