/* CSS class for the floating component */
.hamburger {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
}

/* CSS class for the dropdown menu */
.hamburger-line {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.line1 {
  transform: rotate(45deg);
}

.line3 {
  transform: rotate(-45deg);
  margin-top: 10px;
}

ul {
    position: absolute;
    top: 100px;
    right: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
    z-index: 10;
    text-align: center;
    list-style-type: none;
    padding: 10px 0 0 0;
    animation: slideIn 0.5s ease-out;
    animation-fill-mode: forwards; 
    font-size: 1rem;
  }
  
  ul.slideOut {
    animation: slideOut 10s ease-out;
    animation-fill-mode: forwards; 
  }
  
h3 {
    text-shadow: none;
}

li {
  margin-bottom: 15px;
  text-shadow: none;

}


li:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-shadow: 5px 15px 10px rgb(255, 255, 255);
  transform: translate(0, -5px);}

/* animate ul*/
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* animate ul sliding out */
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1000%);
  }
}
