.film-table {
  width: 25%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #000000;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 20px ;
  box-shadow: 0 0 20px rgb(223, 208, 208);
  border-radius: 10px;

}

.film-table h2 {
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid rgb(255, 255, 255);
  text-shadow: 0 0 20px rgb(255, 255, 255);

  
  
}

.film-table .table {
  display: flex;
  width: 100%;
  border-right: none;
  box-shadow: none;

}

.film-table .table-row {
  font-size: 1rem;
  font-weight: 600;
  text-shadow: 5px 5px 20px rgb(255, 255, 255);
  transition: color 0.3s, text-shadow 0.3s;

}

.film-row-details {
  margin-bottom: 2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table-row:hover {
  cursor: pointer;
  text-shadow: 5px 15px 10px rgb(255, 255, 255);
  transform: translate(0, -5px);
}

/* media query for screens smaller than 1040px */
@media screen and (max-width: 1039px) {
  .film-table {
    min-height: 25rem; 
  }
}

@media screen and (max-width: 450px) {
  .film-table {
    min-height: 35rem; 
  }
}
