.film-table {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #000000;
  background-color: rgb(172, 198, 211);
  color: rgb(000, 000, 000 );
  margin: 20px;
  box-shadow: 0 0 20px rgb(223, 208, 208);

}

.film-table h2 {
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid #000000;
  
  
}

.film-table .table {
  display: flex;
  width: 100%;
  border-right: none;
  box-shadow: none;

}

.film-table .table-row {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0 0 20px rgb(52, 56, 57);
  transition: color 0.3s, text-shadow 0.3s;

}

.film-row-details {
  margin-bottom: 2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table-row:hover {
  cursor: pointer;
  text-shadow: 5px 15px 10px rgb(0, 0, 0);
  transform: translate(0, -5px);
}

