@import url("https://fonts.cdnfonts.com/css/star-wars");

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
  width: 100vw;
  border-bottom: 2px solid #ffffff;
  padding: 0 20px; /* Add padding to adjust spacing */
  box-shadow: 0 0 20px rgb(223, 208, 208);
}

/* Logo Image */
img {
  height: 6rem;
  background-color: black; /* Removed opacity */
  margin: 15px;
}

/* Play Button and About Button */
.aboutButton,
.favorites-hamburger {
  font-size: 1.5rem;
  cursor: pointer;
  transition: text-shadow 0.3s;
}

.aboutButton {
  position: relative;
  left: 40px;
  top: -20px;
  font-weight: 800;
}

.favorites-hamburger {
position: relative;
right: 40px;
}

.aboutButton:hover,
.favorites-hamburger {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-shadow: 5px 10px 10px rgb(255, 255, 255);
  transform: translate(0, -5px);
}
