/* Header Container */
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
  height: 100px;
  width: 100vw;
  border-bottom: 2px solid #bbb8a9;
  padding: 0 20px; /* Add padding to adjust spacing */
}

/* Logo Image */
img {
  height: 4rem;
  background-color: black; /* Removed opacity */
}

/* Header Buttons */
.headerButtons {
  display: flex;
  align-items: center;
}

/* Play Button and About Button */
.playButton,
.aboutButton {
  font-size: 1.5rem;
  margin: 0 10px; /* Add margin to adjust spacing */
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s;
}

.favorites-hamburger {
  position: absolute;
  top: 30px;
  right: -90px;
  color: rgb(255, 255, 255);
  z-index: 20;
  width: 50px;
  height: 50px;
}

.playButton:hover,
.aboutButton:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgb(75, 213, 238);
}
